<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <title>Document</title>
</head>
<body>
    {% block header %}
    <header>
            <a href="{% url 'index' %}"><img src="{% static 'logo.png' %}" alt="logo"/></a>
            <nav>
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}"class="menu">Logout</a>
                {% else %}
                <a href="{% url 'login' %}"class="menu">Login</a>
                <a href="{% url 'register' %}"class="menu">Register</a>
                {% endif %}
            </nav>
    </header>

{% endblock %}
<main>
{% block content %}
        {% if user.is_authenticated %}

        <a href="{% url 'new' %}" class="menu">ADD</a>

        {% for task in tasks %}
        <div class="task">
           <h2>{{task.header}}</h2>
        <table>
            <tr>
                <td><h3>Deadline</h3></tds=>
                <td><h3>Describtion</h3></td>
                <td><h3>Category</h3></td>
                <td>
                    <a href="{% url 'delete' pk=task.id %}">DELETE</a>
                    <a href="{% url 'edit' pk=task.id %}">EDIT</a>
                </td>
            </tr>
            <tr>
                <td>{{task.end_date | date:"d.m.Y" }}</td>
                <td>{{task.describtion | truncatechars:"40" }}</td>
                <td>{{task.category}}</td>
            </tr>

        </table>

        </div>
        {% endfor %}
        {% else %}
        <h1><a href="{% url 'login' %}">Login</a> to add new task</h1>
        <img src="{% static 'pointer.png' %}" alt="^" id="pointer"/>

        <div class="task" id="main-site-task">
            <h2>Your task</h2>
         <table>
             <tr>
                 <td><h3>Deadline</h3></tds=>
                 <td><h3>Describtion</h3></td>
                 <td><h3>Category</h3></td>
                 <td>
                     <a href="">DELETE</a>
                     <a href="">EDIT</a>
                 </td>
             </tr>
             <tr>
                 <td>Date</td>
                 <td>clean the kitchen</td>
                 <td>Home</td>
             </tr>
         </table>
         </div>
        {% endif %}
    {% endblock %}
</main>
</body>
</html>