{% extends 'index.html' %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <p>
            {{form.username.label}} <br>
            {{form.username}}
        </p>
        <p>

        {{form.password.label}} <br>
        {{form.password}}

        </p>
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
        <input type="submit" class="button"> <br><br>
        <a href="{% url 'register' %}">Sing up</a>
    </form>


{% endblock %}