{% extends 'index.html' %}
{% load static %}


{% block content %}
    <img src="{% static 'checklist.png' %}" alt="checklist" id="gallery">
    <form action="" method="post">
        {% csrf_token %}
        <p>
            {{form.username.label}} <br>
            {{form.username}}
        </p>
        <p>

        {{form.password.label}} <br>
        {{form.password}}

        </p>
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
        <input type="submit">
        <a href="{% url 'register' %}">Sing up</a>
    </form>
    <script src="{% static 'slider.js' %}"></script>


{% endblock %}